

fieldset {
background-color:tomato;
  max-width:300px;
  padding:20px;
}

body{
	background-image:url(file:///C:/Users/F5/Downloads/black.jpg);
}

h1{
	color: #d4af37;
    font-style: oblique
}

li{
	color: black;
    font-style:italic; 
    font-size:25px;
    width: bold;
}
